.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.column_left {
    width: 100/3%;

}

.column_middle {
    width: 100/3%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column_right {
    width: 100/3%;
}

.hero_image {
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.hero_title {
    position: absolute;
    /* bottom: 15%;
    right: 10%; */
    color: white;
    font-size: 4.5rem;
    text-align: center;
    padding: 15px;
    background: transparent;
}

.hero_title::after {
    content: "";
    animation: textCycle 5s linear infinite alternate;
}

@keyframes textCycle {
    0% { content:"NFTs made simple";}
    50% { opacity: 0;}
    100% { content:"Coming soon";}
    
}

.logo {
    position: absolute;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
    background-color: transparent;
    margin-bottom: 300px;
}

.logo_image {
    height: 35px;
    width: 35px;
    margin-right: 10px;
    background-color: transparent;
}

@media only screen and (max-width: 1024px) {
    .hero_title {
      font-size: 3rem;
    }
}

